.org-tree {
	position: relative;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 5px;
	width: 15%;
	float: left;
}

.org-list {
	position: relative;
	padding-left: 5px;
	padding-right: 30px;
	width: 75%;
	float: right;
}

.org-list th {
	text-align: center;
}

.org-list td {
	text-align: center;
}

.res-list {
	position: relative;
	padding-left: 10px;
	padding-right: 20px;
	width: 95%;
	float: right;
}

.res-list th {
	text-align: center;
}

.res-list td {
	text-align: center;
}

.btn-normal {
	width: 75px;
	height: 35px;
}

.btn-space {
	margin-left: 10px;
}

.a-space {
	margin-left: 20px;
}