<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
	<dubbo:application name="mix-service-comsumer" />
	
	<!-- 使用multicast广播注册中心暴露发现服务地址 -->
	<!-- <dubbo:registry address="multicast://224.5.6.7:1234" /> -->
	
	<!-- 使用zookeeper暴露服务地址 -->
	<dubbo:registry protocol="zookeeper" address="192.168.199.199:2181"/>
	
	<!-- 使用dubbo的@Service注解配置 -->
	<dubbo:annotation />
	
	<!-- 生成远程服务代理，可以和本地bean一样使用demoService -->
	<!-- 服务分组，当一个接口有多个实现，可以用分组区分，必需和服务提供方一致 -->
	<dubbo:reference id="dubboService" interface="edu.ustc.mix.service.DubboService" group="mix" />
	<dubbo:reference id="dubboAnnotationService" interface="edu.ustc.mix.service.DubboAnnotationService" group="mix" />
</beans>