<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ustc.mix.persistence.mapper.permission.UserResourceMapper">
	
	<sql id="BASE_QUERY_CONDITION">
		<where>
			<if test="refId != null">
				ref_id = #{refId}
			</if>
			<if test="userId != null">
				AND user_id = #{userId}
			</if>
			<if test="resId != null">
				AND res_id = #{resId}
			</if>
		</where>
	</sql>
	
	<insert id="add" parameterType="edu.ustc.mix.persistence.entity.permission.UserResource" useGeneratedKeys="true" keyProperty="refId">
		insert into sys_user_ref_res 
		(
		user_id, 
		res_id
		)
		values 
		( 
		#{user.userId},
		#{resource.resId}
		)
	</insert>
	
	<delete id="delete" parameterType="hashmap">
		delete from sys_user_ref_res
		<include refid="BASE_QUERY_CONDITION" />
	</delete>
	
</mapper>