<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ustc.mix.persistence.mapper.system.ResourceMapper">
	
	<resultMap id="BASE_RESULT" type="edu.ustc.mix.persistence.entity.system.Resource">
		<id column="res_id" property="resId" jdbcType="BIGINT" />
		<result column="res_name" property="resName" jdbcType="VARCHAR" />
		<result column="res_desc" property="resDesc" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="permission" property="permission" jdbcType="VARCHAR" />
		<result column="res_type" property="resType" jdbcType="TINYINT" />
		<result column="is_leaf" property="isLeaf" jdbcType="TINYINT" />
		<result column="parent_id" property="parentId" jdbcType="BIGINT" />
		<result column="parent_path" property="parentPath" jdbcType="VARCHAR" />
		<result column="priority" property="priority" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="BASE_COLUMN">
		res_id, res_name, res_desc, url, permission, res_type, is_leaf, parent_id, parent_path, priority
	</sql>
	
	<sql id="ALIAS_COLUMN">
		res.res_id, res.res_name, res.res_desc, res.url, res.permission, res.res_type, res.is_leaf, res.parent_id, res.parent_path, res.priority
	</sql>
	
	<sql id="BASE_QUERY_CONDITION">
		<where>
			<if test="resId != null">
				res_id = #{resId}
			</if>
			<if test="resName != null">
				AND res_name = #{resName}
			</if>
			<if test="resDesc != null">
				AND res_desc = #{resDesc}
			</if>
			<if test="permission != null">
				AND permission = #{permission}
			</if>
			<if test="url != null">
				AND url = #{url}
			</if>
			<if test="resType != null">
				AND res_type = #{resType}
			</if>
			<if test="isLeaf != null">
				AND is_leaf = #{isLeaf}
			</if>
			<if test="parentId != null">
				AND parent_id = #{parentId}
			</if>
			<if test="parentPath != null">
				AND parent_path = #{parentPath}
			</if>
			<if test="priority != null">
				AND priority = #{priority}
			</if>
		</where>
	</sql>
	
	<insert id="add" parameterType="edu.ustc.mix.persistence.entity.system.Resource" useGeneratedKeys="true" keyProperty="resId">
		insert into sys_res 
		(
		res_name, 
		res_desc,
		url,
		permission, 
		res_type, 
		is_leaf,
		parent_id, 
		parent_path, 
		priority
		)
		values 
		(
		#{resName,jdbcType=VARCHAR},
		#{resDesc,jdbcType=VARCHAR},
		#{url,jdbcType=VARCHAR},
		#{permission,jdbcType=VARCHAR},
		#{resType,jdbcType=TINYINT},
		#{isLeaf,jdbcType=TINYINT},
		#{parentId,jdbcType=BIGINT},
		#{parentPath,jdbcType=VARCHAR},
		#{priority,jdbcType=INTEGER}
		)
	</insert>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from sys_res
		where res_id = #{resId,jdbcType=BIGINT}
	</delete>
	
	<update id="update" parameterType="edu.ustc.mix.persistence.entity.system.Resource">
		update sys_res
		<set>
			<if test="resName != null">
				res_name = #{resName,jdbcType=VARCHAR},
			</if>
			<if test="resDesc != null">
				res_desc = #{resDesc,jdbcType=VARCHAR},
			</if>
			<if test="permission != null">
				permission = #{permission,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="resType != null">
				res_type = #{resType,jdbcType=TINYINT},
			</if>
			<if test="isLeaf != null">
				is_leaf = #{isLeaf,jdbcType=TINYINT},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=BIGINT},
			</if>
			<if test="parentPath != null">
				parent_path = #{parentPath,jdbcType=VARCHAR},
			</if>
			<if test="priority != null">
				priority = #{priority,jdbcType=INTEGER}
			</if>
		</set>
		where res_id = #{resId,jdbcType=BIGINT}
	</update>
	
	<select id="getById" resultMap="BASE_RESULT" parameterType="java.lang.Long">
		select
		<include refid="BASE_COLUMN" />
		from sys_res
		where res_id = #{resId,jdbcType=BIGINT}
	</select>
	
	<select id="getByMultiParams" resultMap="BASE_RESULT" parameterType="hashmap">
		select
		<include refid="BASE_COLUMN" />
		from sys_res
		<include refid="BASE_QUERY_CONDITION" />
	</select>
	
	<select id="list" resultMap="BASE_RESULT" parameterType="hashmap">
		select
		<include refid="BASE_COLUMN" />
		from sys_res
		<include refid="BASE_QUERY_CONDITION" />
		order by concat(parent_path, res_id) asc
	</select>
	
	<select id="count" resultType="long" parameterType="hashmap">
		select count(1)
		from sys_res
		<include refid="BASE_QUERY_CONDITION" />
	</select>
	
</mapper>